# Ignore Python bytecode files
__pycache__/
*.pyc
*.py[cod]
*.egg-info/
.venv/
venv/

# Ignore IDE settings
.idea/
.vscode/

# Environment / secrets
.env
.env.*
!.env.example

# Ignore folders for data and models
/data/raw

# Ignore other system or editor-specific files
.DS_Store
Thumbs.db

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Emacs
.#*

